{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-body" style="background-color: #e6e6e6;">

          <div class="row justify-content-center mb-2">
            <label for="codigo" class="form-label">Login:</label>
          </div>
          <form action="/login" method="POST">

          <div class="row justify-content-center mb-1">
            <input style="width: 150px; text-align: center;" type="text" id="nome" class="form-control " name="nome" placeholder="nome" required autofocus>
          </div>

          <div class="row justify-content-center mb-3">
            <input style="width: 150px; text-align: center;" type="password" id="senha" class="form-control" name="senha" placeholder="senha" required>
          </div>

          <div class="row justify-content-center mb-3">
            <input style="width: 150px;" type="submit" class="btn btn-primary" value="Entrar" onclick="login()">
          </div>

          </form>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
