{% extends "base.html" %}

{% block title %}
    Certificado OK!
{% endblock %}

{% block content %}
    <div class="content">
        <img src="data:image/png;base64,{{ png }}" style="width: 100%; max-width: 800px; height: auto; border: 5px solid #B0B0B0; box-sizing: border-box; border-style: double;" alt="Certificado">
    </div>

    <p>
    Este certificado foi emitido na data de 
    <strong>{{ certificado.data.isoformat() }}</strong>
    pela comunidade <strong>{{ emissora }}</strong>
    <p>

    <button class="btn btn-primary" href="/download/{{ certificado['codigo'] }}.pdf" download="certificado.pdf">Baixar o certificado em pdf</button>
    <br><br><br>


{% endblock %}
